nextflow.enable.dsl=2

manifest {
    name = 'NFlow'
    author = 'Kariuki Chege (jameskariuki31@gmail.com)'
    description = 'tulip'
    defaultBranch = 'dev'
    version = '1.0.0'
}

// singularity.enabled = true
singularity {
    enabled = true
    autoMounts = true
}

process {
    withLabel: 'default' {
        container = null
    }

    withLabel: 'sing' {
    container="/home/codex/chege/software/containers/leor_tools_20251208.sif"
    containerOptions = {
        "--bind /net,/home,/data,/tmp"
    }
  }

    withLabel: 'singDPPP' {
    // container="/home/codex/chege/software/containers/dawntools-2025-04-14.sif"
    container="/home/codex/chege/software/containers/dawntools-2026-02-12.sif"
    containerOptions = '--bind /net,/home,/data'
  }

    withLabel: 'pspipe' {
    container="/home/codex/chege/software/containers/leor_tools_20251208.sif"
    containerOptions = '--bind /net,/home,/data'
  }

    withLabel: 'sing_demix' {
    container="/home/codex/chege/software/containers/leor_tools_20251208.sif"
    containerOptions = '--bind /net,/home,/data'
  }
}


params {

    // Define execution parameters with defaults
    start_at = 'untar_ms'
    stop_at = 'image'

    image="/home/codex/chege/software/containers/leor_tools_20251208.sif"
    binds='/net,/home,/data'

    stagelib = "/home/codex/chege/software/pipelines/twoleap/stages.nf"

    master_node='node300'

    data {

        path = null
        nodes = null
        hosts = 'hosts.txt'
        label = 'nxt24'
        bp_subbands_per_node = 3
        
        // These are glob patterns to be globbed in each node at the same datapath
        raw_tar_glob= null // tar files to be extracted
        raw_ms_glob = null // raw msfiles to be preprocessed
        di_ms_glob = "fullband_di_smooth_data_T???.MS" // msfiles that go into DI smooth calibration // must end in '_T???.MS'
        bp_ms_glob = "di_bandpass_data_SB???.MS" // glob pattern for msfiles that go into DI bandpass calibration
        dd_ms_glob = "fullband_dd_smooth_data_T???.MS" // msfiles that go into DD calibration // must end in '_T???.MS'

        // These are lists of msfiles, one msfile per line
        raw_mslist="raw_mses.txt" // a list of raw msfiles to be preprocessed
        di_mslist="di_smooth_fullband_mses.txt" //a list of msfiles (a list of msfiles (a timechunk each of duration determined by params.ssplit.ntimes , full bandwidth) that goes into DI smooth calibration
        bp_mslist="di_bandpass_subbands_mslist.txt" // a list of msfiles (on subband each, full duration) that goes into DI bandpass calibration
        dd_mslist="dd_fullband_time_chunks_mslist.txt" // a list of msfiles (on timechunk each, full bandwidth) that goes into DD calibration
        pdd_mslist="postdd_fullband_time_chunks_mslist.txt" // a list of msfiles (on timechunk each, full bandwidth) that has the final DD corrected data after applying the element beam and flagging data outside minuvl and maxuvl

        dd_sb_mslist="dd_subband_mslist.txt" // this is used when transitioning from averaged bandpass data to DD data.
    }

    average {
        nchans_per_subband_after_averaging  = 5

        lta_to_di {
            freqstep = 3
            timestep = 4
            msout = null
            column = 'DATA'
            aoflagger_strategy="/home/codex/chege/projects/3C196/aoflagger_strategies/HBA-3C196-EoR.lua"
        }

        ditodd {
            freqstep = 1
            timestep = 1
            msout = null
        }
    }

    ssplit {
        nodes=null
        di {
            ntimes = 30
            ms_prefix = null
            mses_per_node = 4
        }

        dd {
            ntimes = 30
            ms_prefix = null
            mses_per_node = 4
        }
    }

    ddecal {

        di {

            parset = "/home/codex/chege/software/pipelines/twoleap/parsets/ddecal/di.parset"
            sourcedb = "/home/codex/chege/software/pipelines/twoleap/models/rescaled_new3c61.sky.txt"
            sols = "di_solutions.h5"
            incol = 'DATA'
            outcol = 'DI_CORRECTED'
            solint = 1
            uvlambdamin = 50
            uvlambdamax = 1e15
            uvmmax = 1e15
            nchan = 5
            flagstations = false
            calmode = 'fulljones'
            smoothnessconstraint = 1e6
            propagate_sols = 'True'
            propagate_converged_sols_only = 'True'
            maxiter = 200
            beamproximitylimit = 600
            usebeam = 'True'
            beammode = 'full'
            scaling_coefficient = 1.0

            apply {
                parset="/home/codex/chege/software/pipelines/twoleap/parsets/ddecal/di_apply.parset"
            }
        }

        bp {
            parset = "/home/codex/chege/software/pipelines/twoleap/parsets/ddecal/bp.parset"
            sourcedb = "/home/codex/chege/software/pipelines/twoleap/models/rescaled_new3c61.sky.txt"
            sols = "bp_solutions.h5"
            incol = 'DATA'
            outcol = 'BP_CORRECTED'
            solint = 900
            uvlambdamin = 50
            uvlambdamax = 1e15
            uvmmax = 2e4
            nchan = 1

            apply {
                parset = "/home/codex/chege/software/pipelines/twoleap/parsets/ddecal/bp_apply.parset"
            }
            aoflagger_strategy="/home/codex/chege/projects/3C196/aoflagger_strategies/HBA-3C196-EoR-afterDI.lua"

        }

        dd {
            parset = "/home/codex/chege/software/pipelines/twoleap/parsets/ddecal/dd.parset"
            sourcedb = "/home/codex/chege/software/pipelines/twoleap/models/sky_sagecal_no_diffuse_simple_ateam_corrected_shape.bbs.txt"
            sols = "dd_solutions.h5"
            incol = "DATA"
            outcol = "CORRECTED_DATA"
            solint = 30
            uvlambdamin = 250
            uvlambdamax = 1e15
            uvmmax = 2e4
            nchan = 5
            calmode='diagonal'
            usebeam = 'True'
            beammode = 'full'
            smoothnessconstraint = 4e6
            truncateksmoothkernel = 'False'
            robust_reg = 'True'
            propagate_sols = 'True'
            propagate_converged_sols_only = 'True'
            maxiter = 200
            beamproximitylimit = 600
            correctfreqsmearing = 'False'
            flagstations = false

            bpol=3

            subtract {
                parset="/home/codex/chege/software/pipelines/twoleap/parsets/ddecal/dd_subtract.parset"
                clusters="/home/codex/chege/software/pipelines/twoleap/models/dd_clusters_to_subtract.txt"
                exclude_dircetions='none'
            }

        }

    }

    postdd {
        uvlambdamin=50
        uvlambdamax=500
        aoflagger_strategy="/home/codex/chege/projects/3C196/aoflagger_strategies/HBA-3C196-EoR-afterDD.lua"
        filter_baselines=false
        beam {
            outcol = "POSTDD_CORRECTED_DATA"
            parset = "/home/codex/chege/software/pipelines/twoleap/parsets/ddecal/beam_apply.parset"
        }
    }

    demix {
        enabled=0
        parset='/home/codex/chege/projects/demix/demix.parset'
        sourcedb='/home/codex/chege/projects/3C196/skymodel/dppp/L253456_SAP000-3.9deg-clustered-CasA_lowres.txt'
    }

    dysco {
        nbits=10
        normalization="RF"
        distribution="TruncatedGaussian"   
        disttruncation=2.5
    }

    wsclean {
        size = 1200
        scale = '0.5amin'
        polfit = 2
        niter=0
        pol='iquv'
        chansout=67
        minuvl=50
        maxuvl=500
        weight="natural"
        imname=null
        column=null
        chansout_per_timechunk=1
        chansout_per_subband=1
    }

    pspipe {
        obsid="L12345"
        node='node300'
        dir="pspipe_image_gencube"
        incol="DATA"
        mslist=null
        revision= "rev1"
        max_concurrent = 300
        merge_ms=false
        aoflag_after_merge_ms=false
        delay_flagger=false
        vis_flagger=false
        gpr=false
        ml_gpr = false
        ml_gpr_inj = false
        time_start_index= 0
        time_end_index = 0
    }

    out {
        logs = "logs"
        results="results"
    }

}

dag {
    enabled = true
    overwrite=true
}

report {
    enabled = true
    overwrite=true
}

timeline {
    enabled = true
    overwrite=true
}

trace {
    enabled = true
    overwrite=true
}