nextflow.enable.dsl=2

manifest {
    name = 'NenuFlow'
    author = 'Kariuki Chege (jameskariuki31@gmail.com)'
    description = 'tulip'
    defaultBranch = 'dev'
    version = '1.0.0'
}

singularity.enabled = true

process {
    withLabel: 'default' {
        container = null
    }

    withLabel: 'sing' {
    // container = "/home/codex/chege/software/containers/lofarpipe_04-12-23.sif"
    //container = "/home/codex/chege/software/containers/dawntools-2024-10-16.sif"
    // container="/net/node328/data/users/lofareor/brackenhoff/dawntools-2024-11-17.sif"
    // container="/home/codex/chege/software/containers/dawntools-2025-04-14.sif"
    container="/home/codex/chege/software/containers/lftools_pspipe_23032025.sif"

    containerOptions = '--bind /net,/home,/data'
  }

    withLabel: 'singDPPP' {
    container="/home/codex/chege/software/containers/dawntools-2025-04-14.sif"
    containerOptions = '--bind /net,/home,/data'
  }


  withLabel: 'pspipe' {
    container="/home/codex/chege/software/containers/lftools_pspipe_23032025.sif"
    containerOptions = '--bind /net,/home,/data'
  }

  withLabel: 'sing_demix' {
    container="/home/codex/chege/software/containers/dawntools-2025-03-03.sif"
    containerOptions = '--bind /net,/home,/data'
  }
}


params {

    params.startFrom = 'pre_process'
    params.stopAfter = 'finalimages'

    // image="/home/codex/chege/software/containers/lftools_pspipe_23032025.sif"
    image="/home/codex/chege/software/containers/dawntools-2025-04-14.sif"
    binds='/net,/home,/data'


    stagelib = "/home/codex/chege/software/pipelines/twoleap/stages.nf"

    master_node='node300'

    data {

        path = null
        nodes = null
        hosts = 'hosts.txt'
        label = 'nxt24'
        bp_subbands_per_node = null
        


        // These are glob patterns
        ms_files {
            raw = null
            raw_compressed = null
            bp = null
            di = null
            di_b = null //txtfile with the timechunks of each SB after DI-smooth channel split
            dd = null
        }

        raw_mslist="raw_mses.txt"
        bp_mslist="bp_mses.txt"
        di_mslist="di_mses.txt"
        dd_mslist="dd_mses.txt"
    }

    average {
        nchans_per_subband_after_averaging  = 3

        lta_to_di {
            freqstep = 5
            timestep = 1
            msout = null
            column = 'DATA'
            aoflagger_strategy=null
        }

        ditodd {
            freqstep = 1
            timestep = 5
            msout = null
        }
    }

    split {
        nodes=null
        di {
            ntimes=300
            ms_prefix = null
            mses_per_node = null
        }
        dd {
            ntimes=30
            ms_prefix = null
            mses_per_node = null
        }
    }

    ddecal {

        di {

            parset = "/home/codex/chege/software/pipelines/twoleap/parsets/ddecal/di.parset"
            sourcedb = "/home/codex/chege/software/pipelines/twoleap/models/rescaled_new3c61.sky.txt"
            sols = "di_solutions.h5"
            incol = 'DATA'
            outcol = 'DI_CORRECTED'
            solint = 15
            uvlambdamin = 50
            uvlambdamax = 5000
            nchan = 3

            apply {
                parset="/home/codex/chege/software/pipelines/twoleap/parsets/ddecal/di_apply.parset"
            }
        }

        bp {
            parset = "/home/codex/chege/software/pipelines/twoleap/parsets/ddecal/bp.parset"
            sourcedb = "/home/codex/chege/software/pipelines/twoleap/models/rescaled_new3c61.sky.txt"
            sols = "bp_solutions.h5"
            incol = 'DATA'
            outcol = 'BP_CORRECTED'
            solint = 0
            uvlambdamin = 50
            uvlambdamax = 5000
            nchan = 3

            apply {
                parset = "/home/codex/chege/software/pipelines/twoleap/parsets/ddecal/bp_apply.parset"
            }
            aoflagger_strategy=null

        }

        ateams {
            parset = "/home/codex/chege/software/pipelines/twoleap/parsets/ddecal/ateams/ateams.parset"
            sourcedb = "/home/codex/chege/software/pipelines/twoleap/models/ateam_plus_rescaled_new3c61.sky.txt"
            sols = "ateam_solutions.h5"
            incol = 'DATA'
            outcol = 'ATEAM_SUBTRACTED'
            solint=30
            uvlambdamin = 250
            uvlambdamax = 5000
            nchan = 3

            subtract {
                parset="/home/codex/chege/software/pipelines/twoleap/parsets/ddecal/ateams/ateams_subtract.parset"
                clusters="/home/codex/chege/software/pipelines/twoleap/models/ateam_clusters_to_subtract.txt"
            }
        }

        dd {
            parset = "/home/codex/chege/software/pipelines/twoleap/parsets/ddecal/dd.parset"
            sourcedb = "/home/codex/chege/software/pipelines/twoleap/models/sky_sagecal_no_diffuse_simple_ateam_corrected_shape.bbs.txt"
            sols = "dd_solutions.h5"
            incol = "DATA"
            outcol = "CORRECTED_DATA"
            solint = 60
            uvlambdamin = 250
            uvlambdamax = 5000
            nchan = 3
            flagstations = false

            bpol=3

            subtract {
                parset="/home/codex/chege/software/pipelines/twoleap/parsets/ddecal/dd_subtract.parset"
                clusters="/home/codex/chege/software/pipelines/twoleap/models/dd_clusters_to_subtract.txt"
            }

        }

    }

    postdd {
        uvlambdamin=null
        uvlambdamax=null
        aoflagger_strategy=null
        beam {
            outcol = "POSTDD_CORRECTED_DATA"
            parset = "/home/codex/chege/software/pipelines/twoleap/parsets/ddecal/beam_apply.parset"
        }
    }

    demix {
        enabled=0
        parset='/home/codex/chege/projects/demix/demix.parset'
        sourcedb='/home/codex/chege/projects/3C196/skymodel/dppp/L253456_SAP000-3.9deg-clustered-CasA_lowres.txt'
    }

    dysco {
        nbits=10
        normalization="RF"
        distribution="TruncatedGaussian"   
        disttruncation=2.5
    }

    wsclean {
        size = 1200
        scale = '0.5amin'
        polfit = 2
        niter=0
        pol='iquv'
        chansout=67
        minuvl=50
        maxuvl=500
        weight="natural"
        imname=null
        column=null
        chansout_per_timechunk=null
        chansout_per_subband=1
    }

    pspipe {
        dir="pspipe"
        revision= "rev1"
        max_concurrent = 300
        merge_ms=false
        aoflag_after_merge_ms=false
        delay_flagger=false
        vis_flagger=true
        gpr=false
        ml_gpr = false
        ml_gpr_inj = false
    }

    out {
        logs = "logs"
        results="results"
    }

}

dag {
    enabled = true
    overwrite=true
}

report {
    enabled = true
    overwrite=true
}

timeline {
    enabled = true
    overwrite=true
}

trace {
    enabled = true
    overwrite=true
}