nextflow.enable.dsl=2

manifest {
    name = 'NenuFlow'
    author = 'Kariuki Chege (jameskariuki31@gmail.com)'
    description = 'LEAP3'
    defaultBranch = 'dev'
    version = '1.0.0'
}

singularity.enabled = true

process {
  withLabel: 'default' {
    container = null
  }

  withLabel: 'sing' {
   container = "/home/codex/chege/software/containers/dawntools-2024-06-12.sif"
   containerOptions = '--bind /net,/home,/data'
  }
}


params {

    stagelib = "/home/codex/chege/software/pipelines/twoleap/stages.nf"

    data {

        path = null
        nodes = null
        hosts = 'hosts.txt'
        label = 'nxt24'


        // These are glob patterns
        ms_files {
            raw = null
            raw_compressed = null
            bp = null
            di = null
            dd = null
        }

        raw_mslist="raw_mses.txt"
        bp_mslist="bp_mses.txt"
        di_mslist="di_mses.txt"
        dd_mslist="dd_mses.txt"
    }

    average {
        lta_to_di {
            freqstep = 5
            timestep = 1
            msout = null
            column = 'DATA'
        }

        ditodd {
            freqstep = 1
            timestep = 5
            msout = null
        }
    }

    split {
        ntimes = 600
        ms_prefix = null
        mses_per_node = null
    }

    ddecal {

        di {

            parset = "/home/codex/chege/software/pipelines/twoleap/parsets/ddecal/di.parset"
            sourcedb = "/home/codex/chege/software/pipelines/twoleap/models/rescaled_new3c61.sky.txt"
            sols = "di_solutions.h5"
            incol = 'DATA'
            outcol = 'DI_CORRECTED'
            solint = 15

            apply {
                parset="/home/codex/chege/software/pipelines/twoleap/parsets/ddecal/di_apply.parset"
            }

            beam {
                outcol = "DI_BEAM_CORRECTED"
                parset = "/home/codex/chege/software/pipelines/twoleap/parsets/ddecal/beam_apply.parset"
            }
        }

        bp {
            parset = "/home/codex/chege/software/pipelines/twoleap/parsets/ddecal/bp.parset"
            sourcedb = "/home/codex/chege/software/pipelines/twoleap/models/rescaled_new3c61.sky.txt"
            sols = "bp_solutions.h5"
            incol = 'DATA'
            outcol = 'BP_CORRECTED'
            solint = 0

            apply {
                parset = "/home/codex/chege/software/pipelines/twoleap/parsets/ddecal/bp_apply.parset"
            }
        }

        ateams {
            parset = "/home/codex/chege/software/pipelines/twoleap/parsets/ddecal/ateams/ateams.parset"
            sourcedb = "/home/codex/chege/software/pipelines/twoleap/models/ateam_plus_rescaled_new3c61.sky.txt"
            sols = "ateam_solutions.h5"
            incol = 'DATA'
            outcol = 'ATEAM_SUBTRACTED'
            solint=30

            subtract {
                parset="/home/codex/chege/software/pipelines/twoleap/parsets/ddecal/ateams/ateams_subtract.parset"
                clusters="/home/codex/chege/software/pipelines/twoleap/models/ateam_clusters_to_subtract.txt"
            }
        }

        dd {
            parset = "/home/codex/chege/software/pipelines/twoleap/parsets/ddecal/dd.parset"
            sourcedb = "/home/codex/chege/software/pipelines/twoleap/models/sky_sagecal_no_diffuse_simple_ateam_corrected_shape.bbs.txt"
            sols = "dd_solutions.h5"
            incol = "DATA"
            outcol = "CORRECTED_DATA"
            solint = 60

            subtract {
                parset="/home/codex/chege/software/pipelines/twoleap/parsets/ddecal/dd_subtract.parset"
                clusters="/home/codex/chege/software/pipelines/twoleap/models/dd_clusters_to_subtract.txt"
            }

        }
    }

    wsclean {
        size = 900
        scale = '2amin'
        polfit = 2
        niter=0
        pol='IV'
        chansout=69
        minuvl=50
        maxuvl=300
        weight="briggs -0.1"
        imname=null
        column=null
    }

    out {
        logs = "logs"
        results="results"
    }

}

dag {
    enabled = true
    overwrite=true
    file = "dag.png"
}

report {
    enabled = true
    overwrite=true
    file = "report.html"
}

timeline {
    enabled = true
    overwrite=true
    file = "timeline.html"
}

trace {
    enabled = true
    overwrite=true
    file = "trace.html"
}